
@{
    ViewBag.Title = "Admin";
}

<h1>Admin</h1>

<h2>
    @Html.ActionLink("Update Book", "GetBooks", "Book")|
    @Html.ActionLink("Add Book", "GetBooks", "Book")|
    @Html.ActionLink("Delete Book", "GetBooks", "Book")
</h2>

